---
layout: default
---

<!--@author: sairaghavak -->
<!-- Customized This is as it is from home.html under _layouts-->
<!-- Since jekyll-paginate plugin requires index.html not index.md-->

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      {% include posts-link.html %}
    </li>
    {% endfor %}
  </ul>

  <!-- New code to support pagination only for posts using "jekyll-paginate" plugin -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}

</div>
