<!--An include html snippet for grouping posts by categories -->
<!-- This file does Format sensitive rendering-->
{% assign sorted_categories = site.categories | sort %}
{% for tag in sorted_categories %}
  {% assign categoryPostCount = 0 %}
  <table class="categories-table-style">
    <div>
      {% assign category = tag[0] %}
      {% for post in site.categories[category] %}
        {% assign categoryPostCount = categoryPostCount | plus: 1 %}
        <tr>
          <td>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </td>
          <td>{%- assign date_format = site.minima.date_format | default: "%e %b, %Y" -%} {{ post.date | date: date_format }}
          </td>
        </tr>
      {% endfor %} <!-- End of posts loop-->
    </div>
    <div>
      <p>{{category}} ({{categoryPostCount}})</p>
    </div>
  </table>
{% endfor %}<!-- End of categories loop-->

