<!-- Not included or used anywhere because disqus has room for spam, collects users data -->


<!-- Adding the universal code as suggested in my disqus account at 
sairaghava.disqus.com/admin/install/platforms/universalcode/ -->
<div id="disqus_thread">
  <!-- Tried to add custom css here to override disqus iframe from doesn't seems to work-->
</div>

<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ page.url }}';; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document;
    var s = d.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://sairaghava.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
