<footer class="site-footer h-card">
  <!-- <data class="u-url" href="{{ " /" | relative_url }}"></data> -->

  <div class="wrapper footer-wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
    <!-- <h2 class="footer-heading text-center">&copy; 2022. Sai Raghava Katepally</h2> -->

    <div class="footer-content">
      &copy; 2022-2024. Sai Raghava Katepally.
      |<span> Site Version: {% if site.version %}{{ site.version }}{% endif %}</span>
      | {% include icon-github.html username=site.github_username %} 
      <!-- | {% include icon-twitter.html username=site.twitter_username %} -->
      | {% include icon-stackoverflow.html username=site.stackoverflow_username %} 
      | {% include icon-linkedin.html username=site.linkedin_username %} 
      | <u><a href="/privacy-policy">Privacy Policy</a></u>
      
      <!--  -->
      <!-- <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> -->
    </div>
    <div class="footer-content-stats">
      <span>Site Last Updated On: <u><b>{{ site.last_modified }}</b></u></span>
      | <a href="https://gitlab.com/sairaghavak/sairaghavak.gitlab.io/-/pipelines/{{ site.build_number }}"><span>Last Build: {{ site.build_number }}</span></a>
    </div>
  </div>

</footer>
