<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sai Raghava Katepally">

  <meta name="keywords" content="Sai Raghava Katepally, blog, technology, Java, Programming">
  {%- seo -%}
  <link rel="stylesheet" href="{{   "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}


  {%- if jekyll.environment == 'production' and site.google_analytics -%}
  {%- include google-analytics.html -%}
  {%- endif -%}
</head>