<!--sairaghavak: A common page to display post links and how they must be displyed is segregated here-->

<h3>
  <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
  {%- assign date_format = site.minima.date_format | default: "%A, %e %B, %Y %H:%M %Z" -%}
  <span class="post-meta">{{ post.date | date: date_format }}</span>
</h3>
{{ post.content | strip_html | truncatewords: 39 }}
