/**
 * Syntax highlighting styles
 */
.highlight {
  //background: #fff;
  background: grey;
  /* width: fit-content; */
  /*- @sairaghavak: Added on 28th July 2022 */
  /* height: fit-content; */
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    //background: #eef;
    background: grey;
  }

  .c {
    //color: #998;
    color: beige;
    font-style: italic
  }

  // Comment
  .err {
    color: aqua;
    // background-color: #e3d2d2
  }

  // Error
  .k {
    font-weight: bold
  }

  // Keyword
  .o {
    font-weight: bold;
    // color: #550101;
  }

  // Operator
  .cm {
    color: antiquewhite;
    font-style: italic
  }

  // Comment.Multiline
  .cp {
    color: #999;
    font-weight: bold
  }

  // Comment.Preproc
  .c1 {
    color: antiquewhite; // Color for comments
    font-style: italic
  }

  // Comment.Single
  .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
  }

  // Comment.Special
  .gd {
    color: #000;
    background-color: #fdd
  }

  // Generic.Deleted
  .gd .x {
    color: #000;
    background-color: #faa
  }

  // Generic.Deleted.Specific
  .ge {
    font-style: italic
  }

  // Generic.Emph
  .gr {
    color: #a00
  }

  // Generic.Error
  .gh {
    color: #999
  }

  // Generic.Heading
  .gi {
    color: #000;
    background-color: #dfd
  }

  // Generic.Inserted
  .gi .x {
    color: #000;
    background-color: #afa
  }

  // Generic.Inserted.Specific
  .go {
    color: #888
  }

  // Generic.Output
  .gp {
    color: #555
  }

  // Generic.Prompt
  .gs {
    font-weight: bold
  }

  // Generic.Strong
  .gu {
    color: #aaa
  }

  // Generic.Subheading
  .gt {
    color: #a00
  }

  // Generic.Traceback
  .kc {
    font-weight: bold
  }

  // Keyword.Constant
  .kd {
    font-weight: bold;
    color: khaki; // This is predefined keywords of the language
  }

  // Keyword.Declaration
  .kp {
    font-weight: bold
  }

  // Keyword.Pseudo
  .kr {
    font-weight: bold
  }

  // Keyword.Reserved
  .kt {
    color: khaki; // Example: This will be applied to void in java
    font-weight: bold
  }

  // Keyword.Type
  .m {
    color: #099
  }

  // Literal.Number
  .s {
    color: #d14
  }

  // Literal.String
  .na {
    color: navajowhite
  }

  // Name.Attribute
  .nb {
    color: goldenrod // sairaghavak customized
  }

  // Name.Builtin
  .nc {
    color: gold; // A Type(Builtin or user Defined class A {})
    font-weight: bold
  }

  // Name.Class
  .no {
    color: #18de8f
  }

  // Name.Constant
  .ni {
    color: #800080
  }

  // Name.Entity
  .ne {
    color: #900;
    font-weight: bold
  }

  // Name.Exception
  .nf {
    color: lightcyan; // Example: In java this is applied to main() function
    font-weight: bold
  }

  // Name.Function
  .nn {
    //color: #555
    color: #f2ecec // For imports
  }

  // Name.Namespace
  .nt {
    color: #000080
  }

  // Name.Tag
  .nv {
    color: #008080
  }

  // Name.Variable
  .ow {
    font-weight: bold
  }

  // Operator.Word
  .w {
    color: #bbb
  }

  // Text.Whitespace
  .mf {
    color: orange
  }

  // Literal.Number.Float
  .mh {
    color: #099
  }

  // Literal.Number.Hex
  .mi {
    color: orange
  }

  // Literal.Number.Integer
  .mo {
    color: #099
  }

  // Literal.Number.Oct
  .sb {
    color: #d14
  }

  // Literal.String.Backtick
  .sc {
    color: #d14
  }

  // Literal.String.Char
  .sd {
    color: #d14
  }

  // Literal.String.Doc
  .s2 {
    color: gold
  }

  // Literal.String.Double
  .se {
    color: #d14
  }

  // Literal.String.Escape
  .sh {
    color: #d14
  }

  // Literal.String.Heredoc
  .si {
    color: ivory; // Applied for #{reference}, color is applied for #{}
  }

  // Literal.String.Interpol
  .sx {
    color: #d14
  }

  // Literal.String.Other
  .sr {
    color: #009926
  }

  // Literal.String.Regex
  .s1 {
    color: gold
  }

  // Literal.String.Single
  .ss {
    color: #990073
  }

  // Literal.String.Symbol
  .bp {
    color: #999
  }

  // Name.Builtin.Pseudo
  .vc {
    color: #008080
  }

  // Name.Variable.Class
  .vg {
    color: #008080
  }

  // Name.Variable.Global
  .vi {
    color: #008080
  }

  // Name.Variable.Instance
  .il {
    color: #099
  }

  // Literal.Number.Integer.Long

  .s {
    color: ghostwhite
  }

  .nl {
    color: navajowhite
  }
}