// @sairaghava_k custom scss


// Empty here

sub {
  font-size: 16px;
}


.categories-table-style {
  border: 0px;
  margin-bottom: 25px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  td {
    border: 0px !important;
    padding: 2px;
    width: 50%;
  }
  tr {
    background-color: transparent !important;// !important overridees the css property
  }
}
