<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <ul id="results-container" class="visible"></ul>
      <div id="actual-content-div" class="visible">
        {{ content }}
      </div>

    </div>
  </main>

  {%- include footer.html -%}

</body>

<!-- Script pointing to external plugin simple-jekyll-search.js -->
<script src="/js/ext/simple-jekyll-search.js" type="text/javascript"></script>
<script src="/js/custom/custom.js" type="text/javascript"></script>
<script src="/js/custom/ms-clarity.js" type="text/javascript"></script>
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-DM8YEV054L"></script>
<script src="/js/custom/google-analytics.js" type="text/javascript"></script> -->
<!-- Configuration -->
<!-- <script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json'
  })
</script> -->

</html>
