---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <h2 class="post-list-heading">{{ page.list_title | default: "Recent post" }}</h2><!-- SRK: Removed Posts text-->
  {% assign post = site.posts.first %}
  <!-- Get the most recently published post-->
  {% include posts-link.html %}
  <!-- sairaghavak: customized code-->
  <hr>
  <br>
  <br>


  <ul class="post-list">
    {%- for post in site.posts offset:1 limit:5-%}
    <li>
      {% include posts-link.html %}
      <!-- sairaghavak: customized code-->
      <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} -->
    </li>
    {%- endfor -%}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
