---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} -->
        <!-- {%- assign date_format = site.minima.date_format | default: "%A, %e %B, %Y %H:%M %Z" -%}
        {{ page.date | date: date_format }} -->
        <b>Published Date:</b>
        {% include date-formatter.html %}
      </time>
      <span>|</span>
      {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
          <b>Author: </b>
          <a href="/about">{{ page.author }}</a>
        </span>
      </span>
      {%- endif -%}
      <span>|</span>
      <!--Adding categories under each blog post-->
      {%- if page.categories -%}
      {% assign categories = page.categories %}
      {%- endif -%}

      &nbsp;
      <!-- For loop for command separated categories display -->
      <span>
        <b>Categories: </b>
        {%- for category in categories -%}
        <a href="{{site.baseurl}}/categories/#{{category}}">{{category | upcase}}</a>
        {% unless forloop.last %},&nbsp;{% endunless %}
        {%- endfor -%}
      </span>
      <span>|</span>
      <span>
        <b>Contact: </b>
        {{site.email}}
      </span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <!-- { % include disqus_comments.html % } -->
  <!-- To add comment in jekyll add space between { % symbol -->



  <!-- <script id="dsq-count-scr" src="//sairaghava.disqus.com/count.js" async></script> -->
   <!-- Add giscus comments here -->
  
  <!-- The default behavior is always the comments are enabled. If you want to disable it for a specific post then in front matter just add the entry comments: false-->
  {% unless page.comments == false %}
    <hr><br>
    {% include _giscus.html %}
  {% endunless %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>